<div class="container"> 
    <div class="header">
        <h2> Welcome to Stock Alert!</h2>
    </div>
    <div>
        <p class="intro">Please enter a valid ticker symbol of the stock of your choosing, a target price, and whether that target price is a floor or a ceiling! <br> If your stock hits your target price, you will immediately be emailed a price alert! <br> <br> If you wish to change your notification settings about a specific stock, please hit 'save changes' after updating the price info</p>
        <h3>Your Watch List</h3>
    </div>
    <table class="table table-dark table-hover">
        <thead>
            <tr>
            <th scope="col">Ticker Symbol</th>
            <th scope="col">Price Target</th>
            <th scope="col">Notify When Above or Below Target Price?</th>
            <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            {{#each userData}}
            <tr>
                <form method="POST" action="/dashboard">
                    <td>
                        {{this.ticker}}
                        <input name="ticker" value="{{this.ticker}}" hidden>
                    </td>
                    <td>
                        <input class="row-input-box" type="number" name="price" step="0.01" min="0.01" value="{{this.price}}"/>
                    </td>
                    <td>
                        <div class="switch-toggle">
                            {{#if direction}}
                            <input type="checkbox" id="{{this.ticker}}" name="direction"checked> 
                            {{else}}
                            <input type="checkbox" id="{{this.ticker}}" name="direction"> 
                            {{/if}}
                            <label for="{{this.ticker}}"></label>
                        </div> 
                    </td>
                    <td>
                        <button type="submit" name="save" value="{{this.user}}" class="btn btn-secondary" ><i class="bi bi-pencil-fill"></i>Save Changes</button>
                        <button type="submit" name="delete" value="{{this.user}}" class="btn btn-danger" ><i class="bi bi-trash"></i>Delete</button>
                    </td>
                </form>
            </tr>
            {{/each}}
            <tr>
                <form method="POST" action="/dashboard">
                    <td>
                        <input class="row-input-box" type="text" name="ticker">
                    </td>
                    <td>
                        <input class="row-input-box" type="number" name="price" step="0.01" min="0.01"/>
                    </td>
                    <td>
                        <div class="switch-toggle">
                            <input type="checkbox" id="direction" name="direction" checked> 
                            <label for="direction"></label>
                        </div> 
                    </td>
                    <td>
                        <button type="submit" name="add-stock" value="{{ user }}" class="btn btn-secondary"> Add + </button>
                    </td>
                </form>
            </tr>
        </tbody>
    </table>
    {{#if alert2}} <p class="alert"> Stock already in your collection </p> {{/if}}
    {{#if alert1}} <p class="alert"> Please provide ticker symbol </p> {{/if}}

    {{!-- <a class="logOut" href="/login"  title="logOut">Log Out</a> --}}
    <div class="logOut">
        <form method="get" action="/login">
            <button type="submit" name="logOut" class="btn btn-danger" >Log Out</button>
        </form>
    </div>

</div>

<style>

.alert {
    color: red;
    font-size: 16;
}

.logOut {
    margin-top: 75px;
    display: flex;
    justify-content: left;
    align-items: left;
}



.intro {
    color: #f8f9fa;
    background-color: #5c636a;
    font-size: 17px;
    font-family: sans-serif;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}

h2 {
    color: #f8f9fa;
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: -25px;
}

h3 {
    color: #f8f9fa;
    margin-top: 50px;
    margin-bottom: 25px;
    margin-left: -5px;
}

table {
    margin-top: 25px;
    margin-left: 20px;
    border: none;
}

.row-input-box {
    width: 100px;
}

.switch-label {
    width: 150px;
}

.switch-label i {
    margin-right: 5px;
}

.switch-toggle {
    height: 40px;
}

.switch-toggle input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -2;
}

.switch-toggle input[type="checkbox"] + label {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    margin: 0;
    cursor: pointer;
    box-shadow: inset -8px -8px 15px rgba(65, 65, 65, 0.6),
                inset 10px 10px 10px rgba(0,0,0, .25); 
    
}

.switch-toggle input[type="checkbox"] + label::before {
    position: absolute;
    content: 'Below';
    font-size: 10px;
    text-align: center;
    line-height: 25px;
    top: 8px;
    left: 8px;
    width: 45px;
    height: 25px;
    border-radius: 20px;
    background-color: #da5e55;
    box-shadow: -3px -3px 5px rgba(65, 65, 65, 0.6),
                3px 3px 5px rgba(0,0,0, .25); 
    transition: .3s ease-in-out;
}

.switch-toggle input[type="checkbox"]:checked + label::before {
    left: 50%;
    content: 'Above';
    /*color: #fff;*/
    background-color: #00b33c;
    box-shadow: -3px -3px 5px rgba(65,65,65, 0.6),
                3px 3px 5px rgba(0,0,0, .25);
}

</style>

{{!-- 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> --}}
